<%- include("../partials/admin/admin-header") %>
        

<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Banner</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form action="/admin/addBanner" method="post" enctype="multipart/form-data" id="banner">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Title</label>
                            <input type="text" name="title" placeholder="Type here" class="form-control"
                                id="banner_name">
                                <div id="error1" class="text-danger"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control"
                                rows="4"></textarea>
                                
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="product_quantity" class="form-label">Starting Date</label>
                                    <input type="date" name="startDate" placeholder="nos" class="form-control"
                                        id="product_quantity">
                                        <div id="error3" class="text-danger"></div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_quantity" class="form-label">Ending Date</label>
                                    <input type="date" name="endDate" placeholder="nos" class="form-control"
                                        id="product_quantity">
                                        <div id="error3" class="text-danger"></div>
                                </div>
                                
                            </div>
                            

                          
                        </div>
                        

                </div>
            </div> <!-- card end// -->
        </div>

        <div class="col-lg-3">
            <div class="card mb-4">
                <!-- <div class="card-header">
                    <h4>Media</h4>
                </div> -->
                <div class="card-body">
                    <div class="input-upload">
                        <label class="form-label">Image</label>
                        <input class="form-control" type="file" name="img" multiple>
                    </div>
                </div>
            </div> <!-- card end// -->

            <div>
                <button type="submit" class="btn ms-auto d-block btn-md rounded font-sm hover-up">Add
                    Banner</button> <!-- ms-auto d-block to move button to right-->
            </div>
        </div>

        </form>
    </div>
</section> <!-- content-main end// -->


<script>
    const nameval=document.getElementById('banner_name');
    
    
    
    const banner=document.getElementById('banner');
    const error1=document.getElementById('error1');
    
    
    

    function formvalidate(e){
       const namevalue=nameval.value;
      
        
       



            error1.innerHTML = "";
            
            
            
            let isValid = true;


        if (namevalue.trim() === "") {
            error1.style.display = "block";
            error1.innerHTML = "Coupon Name is required.";
            isValid = false;
            } else if (/^\d+$/.test(namevalue) || /^-\d+$/.test(namevalue)) {
                error1.innerHTML = "Coupon Name cannot contain numbers.";
                isValid = false;
            }

             
            
            

           

            

            return isValid;



   




    }
   

  banner.addEventListener("submit", (e) => {
    const isValid = formvalidate(e);
    if (!isValid) {
      e.preventDefault();
    }
  });


</script>

<%- include("../partials/admin/admin-footer") %>